.navHolder {
  background-color: #000000;
  height: 61px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;

  &__logoHolder {
    color: white;
    display: flex;
    &__logo {
      border-radius: 50%;
      height: 50px;
      margin: 5px 12px;
    }
    &__logoTitle {
      font-family: megrim;
      font-weight: 700;
      font-size: 17px;
      margin: 20px 0px;
    }
  }
  &__buttonHolder {
    margin: 20px 31px 0px 0px;
    &__buttons {
      background-color: black;
      border: none;
      color: white;
      font-family: roboto;
      font-weight: 900;
      margin: 20px 30px;
      text-decoration-line: none;
    }
  }
}
