.nav .navHolder {
  margin-top: 1.0625rem;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .navHolder__logoHolder {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .navHolder__logoHolder__logo {
  margin: 0;
  height: 7.5rem;
  width: 7.5rem;
}

.nav .navHolder__logoHolder__logoTitle {
  margin: auto 0;
  font-family: megrim;
  font-size: 2.5rem;
}

.nav .navHolder__buttonHolder {
  margin-left: auto;
}

@media (max-width: 975px) {
  .nav .navHolder__buttonHolder {
    display: none;
  }
}

.nav .navHolder__buttonHolder__buttons {
  font-family: Quicksand, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5625rem;
  color: #898a8e;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.nav .navHolder__buttonHolder__buttons--highlight {
  color: #fff;
}

.nav__button {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #000;
  color: white;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  position: absolute;
}

.nav__button:focus, .nav__button:hover {
  opacity: 0.75;
}

.nav__hamburger {
  width: 50%;
  position: relative;
}

.nav__hamburger, .nav__hamburger::before, .nav__hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.nav__hamburger::before, .nav__hamburger::after {
  content: "";
  width: 100%;
}

.nav__hamburger::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.nav__hamburger::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

@media (max-width: 30rem) {
  .flex {
    margin: 2rem;
  }
}

.navHolder__buttonHolder__buttons + .navHolder__buttonHolder__buttons {
  margin-left: 5rem;
}

.menu-bars {
  font-size: 2rem;
  color: white;
  margin-left: 0px;
  margin-top: 35px;
}

@media (min-width: 975px) {
  .menu-bars {
    display: none;
  }
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  -webkit-transition: 850ms;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  -webkit-transition: 350ms;
  transition: 350ms;
}

.nav-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span {
  margin-left: 16px;
}
/*# sourceMappingURL=nav.css.map */