.nav {
  @media (max-width: 60.9375rem) {
    margin-top: 2.6875rem;
  }
  .navHolder {
    margin-top: 1.0625rem;
    background-color: #000000;
    display: flex;

    &__logoHolder {
      color: white;
      display: flex;
      &__logo {
        margin: 0;
        height: 7.5rem;
        width: 7.5rem;
      }
      &__logoTitle {
        margin: auto 0;
        font-family: megrim;
        font-size: 2.5rem;

        @media (max-width: 60.9375rem) {
          display: none;
        }
      }
      @media (max-width: 60.9375rem) {
        display: none;
      }
    }
    &__buttonHolder {
      margin-left: auto;

      @media (max-width: 975px) {
        margin-inline: auto;
      }
      @media (max-width: 43.75rem) {
        display: none;
      }

      &__buttons {
        font-family: Quicksand, sans-serif;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.75rem;
        color: #898a8e;
        text-decoration-line: none;
      }
      .active {
        color: #fff;
      }
    }
    @media (max-width: 61rem) {
      &__logoHolder {
        margin: auto;
        &__logo {
          display: none;
        }
      }
    }
  }
}

// i dont know why tf is not working on line 34
.navHolder__buttonHolder__buttons + .navHolder__buttonHolder__buttons {
  margin-left: 5rem;
}
