.nav {
  .navHolder {
    margin-top: 1.0625rem;
    background-color: #000000;
    display: flex;

    &__logoHolder {
      color: white;
      display: flex;
      &__logo {
        margin: 0;
        height: 7.5rem;
        width: 7.5rem;
      }
      &__logoTitle {
        margin: auto 0;
        font-family: megrim;
        font-size: 2.5rem;
      }
    }
    &__buttonHolder {
      margin-left: auto;

      @media (max-width: 975px) {
        display: none;
      }

      &__buttons {
        font-family: Quicksand, sans-serif;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.75rem;
        color: #898a8e;
        text-decoration-line: none;
      }
      &__buttons--highlight {
        color: #fff;
      }
    }
    @media (max-width: 61rem) {
      &__logoHolder {
        margin: auto;
        &__logo {
          display: none;
        }
      }
    }
  }
}

// i dont know why tf is not working on line 34
.navHolder__buttonHolder__buttons + .navHolder__buttonHolder__buttons {
  margin-left: 5rem;
}

.menu-bars {
  font-size: 2rem;
  color: white;
  margin-top: auto;

  &__exit {
    margin-left: 1.25rem;
  }
  @media (min-width: 61rem) {
    display: none;
  }
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 999999999; // https://www.nomageddon.com/wp-content/uploads/2015/10/9000.jpg?x69765
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #fff;
  padding: 0 16px;
}

.nav-menu-items {
  width: 100%;
  background-color: #000;
}

.navbar-toggle {
  background-color: #000000;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 3rem;
  &:hover {
    font-weight: 500;
  }
}
