.nav {
  padding-block: 1rem;
}

.nav__name {
  margin-right: auto;
  color: #fff;
}

.nav__logo {
  margin-right: 0.625rem;
  border-radius: 50%;
  max-width: 100%;
}

// HAMBORGAR
.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #4038ff;
  color: white;
  transition: opacity 250ms ease;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

// HAMBORGAR

.nav__list {
  padding: 0;
  list-style: none;
  display: none;
}

.nav__link {
  color: #898a8e;
  text-decoration: none;
}
.nav__item + .nav__item {
  margin-left: 1.5rem;
}

.nav__link--highlight {
  color: #fff;
}
