.canvas-container {
  max-width: 500px;
}
#canvas {
  border: 1px solid dimgrey;
  background-color: white;
  width: 100%;
}

.holderCanvas {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  @media (max-width: 550px) {
    display: inline;
  }
  &__buttonContainer {
    margin-left: 4rem;
    @media (max-width: 64.6875rem) {
      margin-left: 0;
    }

    &__widthBox {
      display: flex;
      align-items: center;
      &__widthButtonsTitle {
        font-weight: 500;
      }
      &__widthButtons {
        height: 60px;
        width: 100px;
        border-radius: 26px;
        border-color: white;
        border-width: thick;
        border-style: solid;
        margin: 10px;
        font-size: 27px;
      }
    }
    &__eraserBox {
      display: flex;
      &__eraserButtons {
        flex-grow: 2;
        height: 60px;
        width: 100px;
        border-radius: 26px;
        border-color: white;
        border-width: thick;
        border-style: solid;
        margin: 10px;
      }
    }
    &__colourBox {
      max-width: 490px;

      @media (max-width: 61.5625rem) {
        display: flex;
        align-items: center;
        // flex-wrap: wrap;
      }

      &__blue {
        background-color: #0000ff;
        height: 60px;
        width: 100px;
        border-radius: 26px;
        border-color: white;
        border-width: thick;
        border-style: solid;
        margin: 10px;
      }
      &__white {
        background-color: #ffffff;
        height: 60px;
        width: 100px;
        border-radius: 26px;
        border-color: white;
        border-width: thick;
        border-style: solid;
        margin: 10px;
      }
      &__black {
        background-color: #000000;
        height: 60px;
        width: 100px;
        border-radius: 26px;
        border-color: white;
        border-width: thick;
        border-style: solid;
        margin: 10px;
      }
      &__red {
        background-color: #ff0000;
        height: 60px;
        width: 100px;
        border-radius: 26px;
        border-color: white;
        border-width: thick;
        border-style: solid;
        margin: 10px;
      }
      &__green {
        background-color: #00ff00;
        height: 60px;
        width: 100px;
        border-radius: 26px;
        border-color: white;
        border-width: thick;
        border-style: solid;
        margin: 10px;
      }
      &__yellow {
        background-color: #ffff00;
        height: 60px;
        width: 100px;
        border-radius: 26px;
        border-color: white;
        border-width: thick;
        border-style: solid;
        margin: 10px;
      }
      &__orange {
        background-color: #ffa500;
        height: 60px;
        width: 100px;
        border-radius: 26px;
        border-color: white;
        border-width: thick;
        border-style: solid;
        margin: 10px;
      }
      &__purple {
        background-color: #800080;
        height: 60px;
        width: 100px;
        border-radius: 26px;
        border-color: white;
        border-width: thick;
        border-style: solid;
        margin: 10px;
      }
    }
    &__downloadBox {
      margin: auto;
      &__downloadbuttons {
        height: 60px;
        width: 100%;
        border-radius: 26px;
        border-color: white;
        border-width: thick;
        border-style: solid;
        margin: 0.625rem 0;
        font-weight: normal;
        font-size: 36px;
        line-height: 45px;
        &__pic {
          max-width: 30%;
          margin-left: 29px;
        }
      }
    }
  }
}

.test {
  height: 44px;
  width: 57px;
}
