.canvas-container {
  max-width: 500px;
}

#canvas {
  border: 1px solid dimgrey;
  background-color: white;
  width: 100%;
}

.holderCanvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
}

@media (max-width: 550px) {
  .holderCanvas {
    display: inline;
  }
}

.holderCanvas__buttonContainer {
  margin-left: 4rem;
}

@media (max-width: 64.6875rem) {
  .holderCanvas__buttonContainer {
    margin-left: 0;
  }
}

.holderCanvas__buttonContainer__widthBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.holderCanvas__buttonContainer__widthBox__widthButtonsTitle {
  font-weight: 500;
  width: 7rem;
}

.holderCanvas__buttonContainer__widthBox__widthButtons {
  height: 60px;
  width: 100px;
  border-radius: 26px;
  border-color: white;
  border-width: thick;
  border-style: solid;
  margin: 10px;
  font-size: 27px;
}

.holderCanvas__buttonContainer__eraserBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.holderCanvas__buttonContainer__eraserBox__eraserButtons {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  height: 60px;
  width: 100px;
  border-radius: 26px;
  border-color: white;
  border-width: thick;
  border-style: solid;
  margin: 10px;
}

.holderCanvas__buttonContainer__colourBox {
  max-width: 490px;
}

@media (max-width: 61.5625rem) {
  .holderCanvas__buttonContainer__colourBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.holderCanvas__buttonContainer__colourBox__blue {
  background-color: #0000ff;
  height: 60px;
  width: 100px;
  border-radius: 26px;
  border-color: white;
  border-width: thick;
  border-style: solid;
  margin: 10px;
}

.holderCanvas__buttonContainer__colourBox__white {
  background-color: #ffffff;
  height: 60px;
  width: 100px;
  border-radius: 26px;
  border-color: white;
  border-width: thick;
  border-style: solid;
  margin: 10px;
}

.holderCanvas__buttonContainer__colourBox__black {
  background-color: #000000;
  height: 60px;
  width: 100px;
  border-radius: 26px;
  border-color: white;
  border-width: thick;
  border-style: solid;
  margin: 10px;
}

.holderCanvas__buttonContainer__colourBox__red {
  background-color: #ff0000;
  height: 60px;
  width: 100px;
  border-radius: 26px;
  border-color: white;
  border-width: thick;
  border-style: solid;
  margin: 10px;
}

.holderCanvas__buttonContainer__colourBox__green {
  background-color: #00ff00;
  height: 60px;
  width: 100px;
  border-radius: 26px;
  border-color: white;
  border-width: thick;
  border-style: solid;
  margin: 10px;
}

.holderCanvas__buttonContainer__colourBox__yellow {
  background-color: #ffff00;
  height: 60px;
  width: 100px;
  border-radius: 26px;
  border-color: white;
  border-width: thick;
  border-style: solid;
  margin: 10px;
}

.holderCanvas__buttonContainer__colourBox__orange {
  background-color: #ffa500;
  height: 60px;
  width: 100px;
  border-radius: 26px;
  border-color: white;
  border-width: thick;
  border-style: solid;
  margin: 10px;
}

.holderCanvas__buttonContainer__colourBox__purple {
  background-color: #800080;
  height: 60px;
  width: 100px;
  border-radius: 26px;
  border-color: white;
  border-width: thick;
  border-style: solid;
  margin: 10px;
}

.holderCanvas__buttonContainer__downloadBox {
  margin: auto;
}

.holderCanvas__buttonContainer__downloadBox__downloadbuttons {
  height: 60px;
  width: 100%;
  border-radius: 26px;
  border-color: white;
  border-width: thick;
  border-style: solid;
  margin: 0.625rem 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
}

.holderCanvas__buttonContainer__downloadBox__downloadbuttons__pic {
  max-width: 30%;
  margin-left: 29px;
}

.test {
  height: 44px;
  width: 57px;
}
/*# sourceMappingURL=Holder.css.map */