img {
  width: 100%;
  margin-top: 1.75rem;
  margin-left: auto;
}

.features {
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 65.9375rem) {
    justify-content: space-around;
  }
}
.feature__heading {
  margin-top: 6.25rem;
  font-family: Quicksand;
  font-size: 3rem;
  font-weight: 300;
  @media (max-width: 65.9375rem) {
    margin-top: 4.125rem;
  }
}

.feature {
  margin-top: 1.75rem;
  width: 16.375rem;
  &__title {
    font-family: Quicksand;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.8125rem;
  }
  &__text {
    margin-top: 0.75rem;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.875rem;
  }
}
