.main {
  @media (max-width: 81.3125rem) {
    flex-wrap: wrap;
  }
  &__description {
    margin-top: 6.25rem;
    max-width: 33rem;
    @media (max-width: 80.9375rem) {
      margin-inline: auto;
    }
  }
  &__title {
    width: 18.375rem;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    color: #4cc9f0;
    line-height: 3.375rem;
  }

  &__subtitle {
    margin-top: 0.625rem;
    margin-bottom: 1.875rem;
    max-width: 29rem;
    color: #fff;

    font-family: Quicksand;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.875rem;
  }

  &__button {
    padding: 17px 100px;
    background: #4038ff;
    border-style: none;
    color: #fff;

    font-family: Roboto;
    font-size: 1.875rem;
    font-weight: 900;
    font-style: normal;
    line-height: 2.625rem;
    text-decoration: none;
  }

  video {
    margin-left: auto;
    margin-top: auto;
    max-width: 100%;
    max-height: 19rem;

    @media (max-width: 80.9375rem) {
      margin-top: 2.0625rem;
      margin-inline: auto;
    }
  }
  @media (max-width: 61rem) {
    .container {
      margin: 1.25rem;
    }
    &__description {
      margin-top: 2.5rem;
      margin-inline: auto;
    }
    &__subtitle {
      font-family: Quicksand;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
    }
    &__button,
    &__img {
      display: none;
    }
  }
}
