.navSidebarButton {
  height: 37px;
  width: 44%;
  margin-top: 4px;
  display: flex;
  justify-content: end;
}

.menu-bars2 {
  font-size: 2rem;
  color: white;

  &__exit2 {
    margin-left: 1.25rem;
  }
}

.nav-menu2 {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 79.8%; //you have to lower this when your adding width media queries
  z-index: 999999999;
}

.nav-menu.active2 {
  left: 100%;
  display: none;
}

.nav-text2 {
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text2 a {
  text-decoration: none;
  color: #fff;
  padding: 0 16px;
}

.nav-menu-items2 {
  width: 100%;
  background-color: #000;
}

.navbar-toggle2 {
  background-color: #000000;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span2 {
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 3rem;
  &:hover {
    font-weight: 500;
  }
}
