.navSidebarButton {
  height: 37px;
  width: 18.4375rem;
  margin-top: 4px;
  display: flex;
}

.menu-bars2 {
  position: absolute;
  right: 1.25rem;
  font-size: 2rem;
  color: white;

  &__exit2 {
    margin-left: 1.25rem;
  }
}

.nav-menu2 {
  background-color: black;
  width: 250px;
  height: 120vh;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 79.8%;
  z-index: 999999999;
}

.nav-menu.active2 {
  left: 100%;
  display: none;
}

.nav-text2 {
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text2 a {
  text-decoration: none;
  color: #fff;
  padding: 0 16px;
}

.nav-menu-items2 {
  width: 100%;
  background-color: #000;
  height: 136%;
}

.navbar-toggle2 {
  background-color: #000000;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span2 {
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 3rem;
  &:hover {
    font-weight: 500;
  }
}
