.main {
  margin-top: 2.5rem;
}
.main__title {
  margin-bottom: 1.75rem;
  line-height: 4.375rem;
  font-family: "Playfair Display", serif;
  font-size: 4.5rem;
  color: #fff;
}

.main__subtitle {
  margin-top: 0;
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  color: #898a8e;
}

.main__button {
  padding: 0.75rem 2rem;
  border-style: none;
  font-size: 1.125rem;
  background: #4038ff;
  color: #fff;
  font-weight: bold;
}

.main__img {
  display: none;
}
