.bottom {
  .flex,
  hr {
    margin-inline: 2.5rem;
  }
  footer {
    padding: 1rem;

    p {
      margin: 0 auto;
      font-family: Quicksand;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.875rem;

      @media (max-width: 30.5625rem) {
        font-weight: 500;
        font-size: 1rem;
      }
    }

    a img {
      margin: 0;
    }
    a + a {
      margin-left: 2.25rem;
    }
  }
}
